.stretch-button {
    background-color: green;
    color: white;
    cursor: pointer;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 18px;
    transition: padding-top 1s,
    padding-bottom 1s,
    padding-right 1s,
    padding-left 1s;
  }

  .stretch-button:hover {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 36px;
    padding-left: 36px;
  }