p {
  font-family: Montserrat;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.model-type {
  font-size: 35px;
  font-weight: bold;
  font-family: bold;
}

.words-edit {
  text-decoration: underline;
  cursor: pointer;
}