.amazon-button {
  color: rgb(0, 113, 133);
  transition: color 0.15s;
}

.amazon-button:hover {
  color: brown;
}

.title-button {
  font-weight: bold;
  font-size: 24px
}

.price-button {
  color: rgb(0,118,0);
  font-weight: bold;
}

.add-to-cart-button {
  background-color: rgb(255,216,20);
  border: none;
  border-radius: 18px;
  height: 30px;
  width: 105px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s;
}

.add-to-cart-button:hover {
  background-color: rgb(245, 205, 3);
}

.add-to-cart-button:active {
  opacity: 0.6;
}

.buy-now-button {
  background-color: rgb(255,164,28);
  border: none;
  border-radius: 18px;
  height: 30px;
  width: 105px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.buy-now-button:hover {
  background-color: rgb(245,153,11);
}

.buy-now-button:active {
  opacity: 0.6;
}