 .back-button {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 8px;
 }
 
 .numbers-button {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 18px;
 }

 .next-button {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 8px;
 }