.profile-img {
   width: 45px;
   height: 35px;
   border-radius: 50%;
   object-fit: cover;
   vertical-align: middle;
}

.search-bar {
  font-size: 14px;
  width: 250px;
  height: 20px;
  border: none;
  vertical-align: middle;
  cursor: text;
}

.tweet-button {
  vertical-align: middle;
  border: none;
  cursor: pointer;
  color: white;
  background-color: rgb(0, 170, 255);
  border-radius: 20px;
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 12px;
    transition: box-shadow 0.15s;
}

.tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.tweet-button:active {
  opacity: 0.7;
}