p {
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(100, 100, 100);
  font-family: arial;
}

.email {
  font-size: 16px;
  margin-bottom: 10px;
}

.email-box {
  font-size: 16px;
  width: 400px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin-bottom: 20px;
}

.paragraph-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.agree-button {
  background-color: rgb(0, 110, 255);
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 400px;
  text-align: center;
  cursor: pointer;
}

.agree-button:hover {
  background-color: rgb(6, 95, 212);
  transition: opacity 0.15s;
}

.agree-button:active {
  opacity: 0.8;
}