p {
  margin-top: 0;
  margin-bottom: 0;
}

.profile-img {
   width: 45px;
   height: 35px;
   border-radius: 50%;
   object-fit: cover;
   vertical-align: middle;
}

.search-bar {
  font-size: 14px;
  width: 250px;
  height: 20px;
  border: none;
  vertical-align: middle;
  cursor: text;
}

.tweet-button {
  vertical-align: middle;
  border: none;
  cursor: pointer;
  color: white;
  background-color: rgb(0, 170, 255);
  border-radius: 20px;
  font-weight: bold;
  width: 60px;
  height: 25px;
}