p {
  margin-top: 0;
  margin-bottom: 0;
}

.profile-img {
   width: 40px;
   height: 30px;
   border-radius: 50%;
   object-fit: cover;
   vertical-align: middle;
}

.search-bar {
  font-size: 14px;
  width: 250px;
  height: 20px;
  border: none;
  vertical-align: middle;
  cursor: text;
}

