p {
    font-family: Verdana;
    margin-top: 0;
    margin-bottom: 0;
  }

.course-type {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 6px;
}

.description {
  color: gray;
  margin-bottom: 18px;
}

.paragraph-text {
  width: 300px;
  margin-bottom: 18px;
}

.button-press {
  font-family: Verdana;
  background-color: green;
  color:white;
  border-radius: 6px;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  cursor: pointer;
}