  .numbers-button {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10px;
    margin-left: 10px;
    transition: padding 0.15s,
    margin 0.15s;
  }

  .numbers-button:hover {
    padding-right: 25px;
    padding-left: 25px;
    margin-left: 0px;
    margin-right: 0px;
  }